.about-container {
  padding: 20px;
}

.about-main {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

@media (max-width: 600px) {
  .about-main {
    padding: 10px;
  }

  .about-container {
    padding: 10px;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p, li {
    font-size: 0.9rem;
  }
}
