.container_about {
  padding: 150px;
  background-color: rgb(193, 193, 193);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
