.container_about {
  padding: 20px;
}

main {
  background-color: #f9f9f9;
  padding: 40px; /* Increased padding for better spacing on larger screens */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Added margin to push the content below the header */
}

@media (max-width: 600px) {
  main {
    padding: 10px; /* Reduce padding for mobile view */
  }

  .container_about {
    padding: 10px;
  }

  h3 {
    font-size: 1.5rem; /* Adjust heading size for mobile */
  }

  h5 {
    font-size: 1.2rem; /* Adjust subheading size for mobile */
  }

  p, li {
    font-size: 0.9rem; /* Adjust paragraph and list item size for mobile */
  }
}
