/* Existing styles */
.container {
  padding: 10px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the content wrap takes the full width */
  background-color: #d9d7d7;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  position: relative;
  margin: 20px auto;
  width: 100%; /* Make input container responsive */
  max-width: 500px; /* Increased max-width for larger screens */
}

.input-container input[type="text"], .input-container input[type="password"] {
  font-size: 18px; /* Increased the font size for larger screens */
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 12px 0; /* Increased padding */
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 18px; /* Increased the font size */
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -25px; /* Adjusted position */
  font-size: 18px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container input[type="password"]:focus ~ .underline,
.input-container input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

/* New styles for loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Additional footer styles to ensure it stays at the bottom */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #343a40;
  text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84vh;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 600px) {
  .content-wrap {
    padding: 10px; /* Adjust padding for mobile view */
  }

  .home {
    padding: 10px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer p {
    justify-content: center;
  }
}
