.footer {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 20px 20px; /* Add top padding to account for the fixed header */

  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #343a40;
    text-decoration: none;
  }
  