.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  width: 100%;
}

.user-cards > * {
  flex: 1 1 300px; /* Adjust the basis size as needed */
  max-width: 100%;
}
