<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Data</title>
    {% include 'styles.html' %}
</head>

<body>
    <!-- this thing just makes everything work, do not delete -->
    {% for user in user_data %}


    <div class="card text-center">
        <h1 class="card-header">
            <h1 class="text-right">{{ user['user_name'] }} - {{ user['company_name'] }}</h1> <!-- Align to the right -->

            {{ user['shift_data_of_the_current_week'] | safe }}

        </h1>
        <div class="card-body">
            <hr>
            <h1 class="text-center"> {{ user['shift_data'] | safe }}{% endfor %}</h1>

        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

</body>
</body>

</html>